pytest==9.0.2  # all modules
boto3==1.42.60  # eou
# numpy==2.0.2  # eou
gdal==3.10.3  # eou
requests==2.32.5  # eou, sdi
psycopg==3.2.13  # sdi
psycopg2==2.9.11  # sdi
psycopg_pool==3.2.8  # sdi
eodag==3.10.1 # eou
pandas==2.3.3 # isu
openpyxl==3.1.5 # isu
pyyaml==6.0.3 # lib.config
shapely==2.0.7 # lib.config
